:root {
	--ion-color-favorite: #14202c;
	--ion-color-favorite-rgb: 20,32,44;
	--ion-color-favorite-contrast: #ffffff;
	--ion-color-favorite-contrast-rgb: 255,255,255;
	--ion-color-favorite-shade: #121c27;
	--ion-color-favorite-tint: #2c3641;

    --ion-color-boldgreen: #e6e6e6;
	--ion-color-boldgreen-rgb: 105,187,123;
	--ion-color-boldgreen-contrast: #89bc86;
	--ion-color-boldgreen-contrast-rgb: 0,0,0;
	--ion-color-boldgreen-shade: #5ca56c;
	--ion-color-boldgreen-tint: #78c288;
}

.ion-color-favorite {
    --ion-color-base: var(--ion-color-favorite);
    --ion-color-base-rgb: var(--ion-color-favorite-rgb);
    --ion-color-contrast: var(--ion-color-favorite-contrast);
    --ion-color-contrast-rgb: var(--ion-color-favorite-contrast-rgb);
    --ion-color-shade: var(--ion-color-favorite-shade);
    --ion-color-tint: var(--ion-color-favorite-tint);
    }

.ion-color-boldgreen {
    --ion-color-base: var(--ion-color-boldgreen);
    --ion-color-base-rgb: var(--ion-color-boldgreen-rgb);
    --ion-color-contrast: var(--ion-color-boldgreen-contrast);
    --ion-color-contrast-rgb: var(--ion-color-boldgreen-contrast-rgb);
    --ion-color-shade: var(--ion-color-boldgreen-shade);
    --ion-color-tint: var(--ion-color-boldgreen-tint);
}
ion-col {
    text-align: center;
}

ion-button {
    --background: #14202c;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
}

ion-img {
    padding-bottom: 5px;
}

ion-content {
    --background: white;
}